@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Playfair+Display:wght@400&family=Rockwell:wght@600&family=Press+Start+2P&family=Cinzel:wght@400&display=swap');

/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body > div {
    max-width: calc(100% - 300px);
    margin: 0 auto;
    padding: 0 150px;
}

body.index header {
    background-color: #2A5B3D;
}

body.best_personal_video header{
    background-color: #01142E;
}

h1 {
    font-family: 'Rockwell', serif;
    font-weight: 600;
    margin: auto;
    font-size: 2.5em;
    color: white;
}

body.pokemon_unite h1 {
    font-family: "Press Start 2P", system-ui; 
    line-height: 1.6;
}

body.best_personal_video h1 {
    font-family: 'Cinzel', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
    margin: 0;
}

body.best_personal_video h2 {
    background-color: #99E4F1;
}

nav {
    background-color: #A9C899;
}

.content-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2em auto;
    max-width: 900px;
}

p {
    margin: 1.5em 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.5em;
    font-size: 1.2em;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    text-align: center;
}

ul li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #ddd;
    margin: 0;
    padding: 0.5em;
}

nav ul li {
    margin: 0 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0b4329;
}

main {
    padding: 2em;
    padding-bottom: 5em;
}

header {
    background-color: #333;
    color: white;
    padding: 1.5em;
    text-align: center;
    position: relative;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    z-index: 10;
}

footer p {
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.index {
    background-image: url('../images/lillyvalley.jpeg');
}

body.best_personal_video {
    background-image: url('../images/cinemareel.jpeg');
}

body.pokemon_unite {
    background-image: url('../images/pokemonunite.png');
}

.bpv-iframe-container {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

body.pokemon_unite p {
    background-color: rgba(255, 255, 255, 0.969);
}

@media only screen and (max-width: 900px) {
    body > div {
        max-width: calc(100% - 100px);
        padding: 0 50px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    p {
        padding: 1em;
        margin: 1em 0;
    }
}

@media only screen and (max-width: 600px) {
    body > div {
        max-width: 100%;
        padding: 0 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 1.5em;
    }
}
